<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderDrinkApp">
        <activity android:name=".Activities.DetailStatisticActivity" android:exported="false" />
        <activity android:name=".Activities.CashierConfirmActivity" android:exported="false" />
        <activity android:name=".Activities.AddStaffActivity" android:exported="false" />
        <activity android:name=".Activities.PaymentActivity" android:exported="false" />
        <activity
            android:name=".Activities.AmountMenuActivity"
            android:label="số lượng món"
            android:theme="@style/PopUpActivity"
            android:exported="false" />
        <activity android:name=".Activities.AddCategoryActivity" android:exported="false" />
        <activity android:name=".Activities.AddMenuActivity" android:exported="false" />
        <activity
            android:name=".Activities.AddTableActivity"
            android:label="@string/addTable"
            android:theme="@style/PopUpActivity"
            android:exported="false" />
        <activity android:name=".Activities.HomeActivity" android:exported="false" />
        <activity android:name=".Activities.CustomerHomeActivity" android:exported="false" />
        <activity android:name=".Activities.CustomerBookingActivity" android:exported="false" />
        <activity android:name=".Activities.LoginActivity" android:exported="false" />
        <activity android:name=".Activities.Register2ndActivity" android:exported="false" />
        <activity android:name=".Activities.WelcomeActivity" android:exported="false" />
        <activity android:name=".Activities.RegisterActivity" android:exported="false" />
        <activity android:name=".Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>